*{
    margin: 0;
    font-family: 'Coming Soon';  
  }
  
  .header{
      width: 100%;
      height: 280px;
  }
  
  .nav{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
  }
  
  .main{
    width: 100%;
/*  height: calc(100vh - 200px); */
/*     height: 100px; */
    display:flex;
  }
  
  .section{
    width: 80%;
    height: 100%;
    padding-left: 20px; 
  }
  
  .aside{
    width: 20%;
    height: 100%;
  }
  
  .footer{
    width: 100%;
    height: 50px;
  }
  
  .back{
    width: 100%;
    height: 280px;
    background-image: url("/assets/images/design1_image1.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.back:hover{
    background: url("/assets/images/design1_image2.jpg") no-repeat;
}
  
  .logo{
    width: 130px;
    position: absolute;
    right: 100px;
    top: 0px;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
  }
  
  .logo:hover{
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
  }
  
  .menu {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    position:sticky;
  }
    
  .menu * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
    
  .menu a {
    padding: 2em 0;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    display: block;
  }
    
  .menu a:before {
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
    border-top: 3px solid #34495e;
    border-bottom: 3px solid #000305;
  }
    
  .menu a:hover, .menu .current a {
    color: #004706;
   }
    
  .menu a:hover:before, .menu .current a:before {
    opacity: 1;
    top: 0;
    bottom: 0;
  }
  
  h1{
      position: absolute;
      top: 0px;
      left: 10px;
      font-size: 70px;
      color: rgb(255, 238, 0);
      -webkit-text-stroke: 1px black; 
  }
  
  article  {
      display: inline;
      margin: 20px;
      font-size: 20px;
  }
  
  h5{
      display: none;;
  }
  
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
  }
  
  em {
    font-family: 'Josefin Sans', sans-serif;
    color: currentColor;
    font-size: 5vmin;
    position: relative;
    font-style: normal;
    width: 5vmin;
    margin: 0px;
  }
    
  em.planet {
    -webkit-animation: planet-rotate 4s linear infinite;
    animation: planet-rotate 8s linear infinite;
    position: relative;
  }
    
  em.planet::before {
    content: "";
    position: absolute;
    top: -.5vmin;
    left: 3.5vmin;
    z-index: -1;
    width: 13vmin;
    height: 13vmin;
  }
    
  em.planet.left {
    -webkit-transform-origin: 10vmin 5vmin;
    transform-origin: 10vmin 5vmin;
  }
    
  em.planet.right {
    -webkit-transform-origin: -5vmin 5vmin;
    transform-origin: -5vmin 5vmin;
  }
    
  @-webkit-keyframes planet-rotate {
    to {
      -webkit-transform: rotate(0.5turn);
    }
  }
    
  @keyframes planet-rotate {
    to {
      transform: rotate(1turn);
    }
  }


  .rules{
    text-align: center;
}


.resaltar{
    font-weight: bold;
    
}

.sangria{
    text-indent: 40px;
}

ol{
    padding: 0px; 
    margin: 0px;
    font-size: 20px;
}

li{
    list-style-position: inside;
}

.vinetas{
    margin-left: 60px;
    list-style: circle;

}

li .letras{
    list-style:lower-alpha;
    
} 

.tabla{
    font-size:large;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    text-align: left;
}

tr:hover {
    background-color: coral;
}

.pie_tabla{
    display: flex;
    flex-direction:column;

}

.pie_linea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.espacio{
    margin-top: 20px;
}

/*****************************/
/*************registration******/
#registration-page {
  display: flex;
}

.signup-form {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  border-bottom: 2px solid #076850;
}

label {
  color: #076850;
  font-size: 17px;
}

input[type="text"],
input[type="date"],
input[type="radio"] {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
}

.form-body {
  padding: 5px 120px;
  background-color: rgb(224, 243, 227);

}

@media only screen and (max-width: 1000px) {
  .row {
      flex-direction: column;
  }
}

.radio-group,
.checkbox-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input[type="radio"],
select {
  font-size: 18px;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #666;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  outline: none;
  vertical-align: middle;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 15%;
  font-size: 20px;
  color: #c7ffd3;
  background: #0346ff;
  border: none;
  border-radius: 50px;
  margin-left: 50px;
}

.button-reset {
  width: 15%;
  font-size: 20px;
  color: #c7ffd3;
  background: #ff2946;
  border: none;
  border-radius: 50px;
  margin-left: 50px;
}

/*****************************/
/*************Fin registration******/